#page {
    text-align: center;
}
.space {
    margin: 20px;
    padding: 20px;
}
body {
    background-color: cyan;
}
img {
    width: 300px;
    float: left;
    padding-right: 20px;
}

p {
    font-family: sans-serif;
}

#note {
    color: red;
    font-weight: bold;
    font-style: italic;
}
#test {
    font-style: italic;
    color: rgb(133,125,127);
    margin-top: 40px;
    text-align: center;
}