#page {
    text-align: center;
}
.space {
    margin: 20px;
    padding: 20px;
}
body {
    background-color: cyan;
}
ul {
    font-weight: bold;
}
img {
    width: 300px;
    float: left;
    padding-right: 20px;
}

p {
    font-family: sans-serif;
}

#note {
    color: red;
    background-color: yellow;
    font-weight: bold;
    font-style: italic;
}
#test {
    font-style: italic;
    margin-top: 60px;
    padding-left: 0px;
    padding-top: 20px;
}

.green-background {
    background-color: green;
}

.blue-background {
    background-color: rgb(62, 151, 224);
}

.red-background {
    background-color: red;
}

.yellow-background {
    background-color: yellow;
}

.orange-background {
    background-color: orange;
}
.container {
    position: relative;
    right: 180px;
}

#click1 {
    cursor: pointer;
  color: blue
}

#click2 {
    cursor: pointer;
  color: blue
}

#click1:hover {
    text-decoration: underline;
}

#click2:hover {
    text-decoration: underline;
}